<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {% if form.erros %}
    <h1>
        siz kiritgan ma'lumotda hatolik mavjud
    </h1>
   {% endif %}
   {% if next %}
    <h1>
        siz bu sahifaga kira olmaysiz
    </h1>
   {% endif %}

   <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <h3>user name</h3>
    {{form.username}}
    <h3>password</h3>
    {{form.password}} <br>
    <input type="submit" value="Login">
   </form>
</body>
</html>